body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

form {
    width: 600px;
    height: 550px;
}

.banner-area {
    font-size: 25px;
    text-align: center;
}

.select-button {
    align-items: center;
    text-align: center;
}

#home {
    margin-right: 20px;
}

#profile {
    margin-right: 20px;
}

#mission {
    margin-right: 20px;
}

.register-form {
    text-align: center;
}

label {
    width: 80px;
    display: inline-block;
    margin-bottom: 10px;
}

.input {
    margin-bottom: 10px;
}

#gender {
    position: relative;
    top: 15px;
}

#infor-label {
    position: relative;
    top: -45px;
}

.block-color {
    position: absolute;
    text-align: left;
    top: 120px;
    left: 260px;
    width: 120px;
    height: 90px;
    background-color: #5aa80b;
    color: yellow;
    font-size: 20px;
}